<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d8a07f">  <td>22/04/05 11:51:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.clickOnUserSettings()[pri:2, instance:com.test.advanceusertest.CompleteUserSettingsTest@2f217633]">clickOnUserSettings</td> 
  <td>main@171493374</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>22/04/05 11:51:37</td>   <td>16611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changeSendThreatsToHexwaveMode()[pri:5, instance:com.test.advanceusertest.CompleteUserSettingsTest@2f217633]">changeSendThreatsToHexwaveMode</td> 
  <td>main@171493374</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>22/04/05 11:51:30</td>   <td>10375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changePrimaryGaurdMode()[pri:4, instance:com.test.advanceusertest.CompleteUserSettingsTest@2f217633]">changePrimaryGaurdMode</td> 
  <td>main@171493374</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>22/04/05 11:51:43</td>   <td>22798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.checkUserSettingInDB()[pri:6, instance:com.test.advanceusertest.CompleteUserSettingsTest@2f217633]">checkUserSettingInDB</td> 
  <td>main@171493374</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>22/04/05 11:51:00</td>   <td>-20255</td> <td>&nbsp;</td><td title="&gt;&gt;CompleteUserSettingsTest.beforeTest()[pri:0, instance:com.test.advanceusertest.CompleteUserSettingsTest@2f217633]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@171493374</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>22/04/05 11:51:46</td>   <td>25839</td> <td title="&lt;&lt;CompleteUserSettingsTest.afterSuite()[pri:0, instance:com.test.advanceusertest.CompleteUserSettingsTest@2f217633]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@171493374</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>22/04/05 11:51:24</td>   <td>3581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changeBetaTestMode()[pri:3, instance:com.test.advanceusertest.CompleteUserSettingsTest@2f217633]">changeBetaTestMode</td> 
  <td>main@171493374</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>22/04/05 11:51:12</td>   <td>-7683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.succesfullyLoginAdvanceUser()[pri:1, instance:com.test.advanceusertest.CompleteUserSettingsTest@2f217633]">succesfullyLoginAdvanceUser</td> 
  <td>main@171493374</td>   <td></td> </tr>
</table>
