<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.test.advanceusertest.CompleteUserSettingsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>succesfullyLoginAdvanceUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeSendThreatsToHexwaveMode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeBetaTestMode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changePrimaryGaurdMode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkUserSettingInDB</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickOnUserSettings</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
