<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForInCorrectResultTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfullySendNonThreat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>nonThreatCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForCorrectResultTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfullySendNonThreat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>nonThreatCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.test.basicuseraismiluatortest.AISimulatorSendingMultipleThreatTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfullySendNonThreat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>nonThreatCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForInCorrectResultTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>anomalyCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>succesfullySendAnomaly</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.test.basicuseraismiluatortest.AISimulatorSendingNonThreatAndAnomalyTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>anomalyCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>succesfullySendAnomaly</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.test.basicuseraismiluatortest.BasicUserLoginAndRegisterTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>successfullyCheckAlreayHaveAnAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfullyLogoutBasicUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfullyRegisterBasicUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfullyLoginBasicUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForCorrectResultTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>anomalyCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>succesfullySendAnomaly</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.test.basicuseraismiluatortest.AISimulatorThreadSendingForCorrectResultTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfullySendingThreat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>threatCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.test.basicuseraismiluatortest.AISimulatorThreadSendingForInCorrectResultTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>threatCheckForInCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfullySendingThreat</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
