<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98927c">  <td>22/03/09 13:24:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdvanceUserLogin.successfullyLogoutFromAdvanceUser()[pri:2, instance:com.test.advanceusertest.AdvanceUserLogin@3ba9ad43]">successfullyLogoutFromAdvanceUser</td> 
  <td>main@1905485420</td>   <td></td> </tr>
<tr bgcolor="98927c">  <td>22/03/09 13:24:02</td>   <td>-47947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdvanceUserLogin.successfullyLoginAdvanceUser()[pri:1, instance:com.test.advanceusertest.AdvanceUserLogin@3ba9ad43]">successfullyLoginAdvanceUser</td> 
  <td>main@1905485420</td>   <td></td> </tr>
<tr bgcolor="98927c">  <td>22/03/09 13:25:02</td>   <td>12144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdvanceUserLogin.successfullyCheckForWrongPassword()[pri:3, instance:com.test.advanceusertest.AdvanceUserLogin@3ba9ad43]">successfullyCheckForWrongPassword</td> 
  <td>main@1905485420</td>   <td></td> </tr>
<tr bgcolor="98927c">  <td>22/03/09 13:23:57</td>   <td>-51991</td> <td>&nbsp;</td><td title="&gt;&gt;AdvanceUserLogin.afterTest()[pri:0, instance:com.test.advanceusertest.AdvanceUserLogin@3ba9ad43]">&gt;&gt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1905485420</td>   <td></td> </tr>
</table>
